.curso {
    padding: 10rem 0;
    margin-top: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/cursos_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

@media (min-width: 768px) {
    .curso-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    .curso .contenido {
        grid-column: 2 / 3;
    }
}
.curso .texto {
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
}

